Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [4]:
def main():
    angle1 = int(input("Enter the first angle: "))
    angle2 = int(input("Enter the second angle: "))
    angle3 = int(input("Enter the third angle: "))
    triangle = angle1 + angle2 + angle3
    calc(triangle)

def calc(x):
    if x == 180:
        print("This is a traiangle")
    else:
        print("This is not a traiangle")

In [5]:
main()

This is not a traiangle

Problem 4: Write a menu-driven program -

cm to ft

km to miles

USD to INR

exit

In [7]:
x = int(input(""" Welcome you can choose any of these 
                1. cm to ft
                2. km to miles
                3. usd to inr
                4. exit
"""))

if x ==1:
    km = float(input("Enter the distance in km: "))
    miles = km * 0.621371
    print(km,f"km is {miles} miles")

90.0 km is 55.92339 miles

Problem 5 - Exercise 12: Display Fibonacci series up to 10 terms.

In [8]:
num1 = 0
num2 = 1
num3 = num2 + num1
num4 = num3 + num2
num5 = num4 + num3
num6 = num5 + num4
num7 = num6 + num5
num8 = num7 + num6

In [14]:
num1 = 0
num2 = 1
print(num1)
print(num2)
for i in range (3,11):
    num3 = num2 + num1
    print(num3)
    num1 = num2
    num2 = num3

0
1
1
2
3
5
8
13
21
34

Problem 6 - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

In [17]:
import math

In [19]:
num = int(input("Enter a number: "))
print(math.factorial(num))

120

Using a loop

In [34]:
num = int(input("Enter a number: "))
fac = 1
for i in range (1,num+1):
    fac = fac*i
print(fac)

120

Problem 7 - Reverse a given integer number.

In [38]:
num = str("73542")
print(num[::-1])

24537

Problem 8: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

In [50]:
num = int(input("Enter a number: "))
sum = 0
for i in range (1,num):
    #sum = sum+i
    if i%5!=0:
        sum = sum+i # sum = sum-i
    if sum>300:
        break
print(sum)

303

Problem 8: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

In [54]:
num = int(input("Enter a number: "))
sum = 0
i = 0
while i<=num:
    sum = sum+i
    if i%5==0: # if i%5!=0:
        sum = sum-i # sum = sum+i
    if sum>300:
        break
    i+=1
print(sum)

303

Problem 9: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [7]:
sum = 0
num = None
counter = 0
#num = int(input("Enter a number: "))
while num !=0:
    num = int(input("Enter a number: "))
    sum = sum + num
    counter = counter + 1

if num ==0:
    counter = counter - 1
avg = sum/counter
print(sum)
print(avg)

15
3.0

Problem 9: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [4]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [18]:
numbers = []
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        numbers.append(str(i))
print(",".join(numbers))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Problem 10: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [22]:
for i in range(1000,3001):
    for j in str(i):
        if int(j)%2 == 1:
            break
    else:
        print(i)

2000
2002
2004
2006
2008
2020
2022
2024
2026
2028
2040
2042
2044
2046
2048
2060
2062
2064
2066
2068
2080
2082
2084
2086
2088
2200
2202
2204
2206
2208
2220
2222
2224
2226
2228
2240
2242
2244
2246
2248
2260
2262
2264
2266
2268
2280
2282
2284
2286
2288
2400
2402
2404
2406
2408
2420
2422
2424
2426
2428
2440
2442
2444
2446
2448
2460
2462
2464
2466
2468
2480
2482
2484
2486
2488
2600
2602
2604
2606
2608
2620
2622
2624
2626
2628
2640
2642
2644
2646
2648
2660
2662
2664
2666
2668
2680
2682
2684
2686
2688
2800
2802
2804
2806
2808
2820
2822
2824
2826
2828
2840
2842
2844
2846
2848
2860
2862
2864
2866
2868
2880
2882
2884
2886
2888

In [9]:
s ='hgtrf'
for i in s:
    print(i)

h
g
t
r
f

Problem 12:Write a program to print whether a given number is a prime number or not

In [12]:
num = int(input("Enter a numbe:"))
if num%1==0 and num%num==0:
    print(num,"is a prime number")
else:
    print(num,"is not a prime number")

376898 is a prime number

A town has 10% population grouth per year and its current population is 10000, write a program to find out what was its population untill last 10 years.

In [1]:
popu = 10000
for i in range(10,0,-1):
    print(popu)
    popu = popu/1.1

10000
9090.90909090909
8264.462809917353
7513.148009015775
6830.134553650703
6209.213230591548
5644.739300537771
5131.5811823070635
4665.07380209733
4240.976183724845

In [12]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

write a code to print this using loop

1

121

12321

1234321

123454321

In [18]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    for k in range(i-1,0,-1):
        print(k,end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#not mine
for i in range(1000, 3001):
    if all(int(digit) % 2 == 0 for digit in str(i)):
        print(i, end=" ")