# Strings

In python strings are Unicode characters.

The way we can extract any characters from a string.

To any string python assign an index position automatically

Positive Indexing- When python start indexing the characters from left to right starting with a 0.

In [1]:
s = str("Hello")
s

'Hello'

In [25]:
s = "HelloWorld"
print(s[0])

H

Negative Indexing - python assign indexes in negetive numbers from right to left starting from -1

In [26]:
s = "HelloWorld"
print(s[-1])

d

## Slicing

If we want to extract multiple characters, we can provide a range of characters that we wanna extract. range is gonna be in this format [x:y]

This process usually called slicing.

In [27]:
s = "HelloWorld"
print(s[0:5])

Hello

Slice until the last character from any other character

In [28]:
s = "HelloWorld"
print(s[3:])

loWorld

[0:x] = [:x]

In [29]:
s = "HelloWorld"
print(s[:5])

Hello

### [:] this format can also be used to print the entire string.

In [30]:
s = "HelloWorld"
print(s[:])

HelloWorld

Steping in slicing [x:y:z] z is the step size

** For a range [x:y] means that index x-th to (y-1)th term when x<y for example [2:7] means index position 2nd to index position 6th

But if x>y then from index x-th to (y+1)th for example [5:1] meand index position 5th to index 2nd

In [6]:
s = "HelloWorld"
print(s[1:7])
print(s[1:7:2])
print(s[0:5])
print(s[0:5:3])

elloWo
elW
Hello
Hl

In [10]:
s = "0123456789"
print(s)
print(s[1:7])
print(s[1:7:2])
print(s[0:9])
print(s[0:9:3])

0123456789
123456
135
012345678
036

### We can also do negative stepping but in this case starting index has to be larger than the end one, it's gonna print backward

In [15]:
s = "9876543210"
print(s[::-1])
print(s[5:0:-1])

0123456789

45678

### For negetive stepping if we don't provide step size python won't anything, for example the code below , python would treat s[-1:-3] as positive indexing and since -1 and -3 doesn't exits it just print a new line.

In [20]:
s = "9876543210"
print(s[-1:-3])

In [22]:
s = "9876543210"
print(s[-1:-7:2])

### But as soon as we provide a step size it works fine.

In [21]:
s = "9876543210"
print(s[-1:-3:-1])

01

In [35]:
s = "HelloWorld"
print(s[5:0:-1])

Wolle

To print an entire string in opposite direction [::-1] is used

In [43]:
n = str("5678")
print(n[::-1])
print(n[-1::-1])

8765
8765

Another way

In [3]:
n = str("5678")
print(n[::-1])
print(n[3:])
print(n[3::-1])

8765
8
8765

Printing last few characters using positive index and negative index

In [41]:
s = "HelloWorld"
print(s[5:])

World

In [42]:
s = "HelloWorld"
print(s[-5:])

World

Reverse

In [45]:
s = "HelloWorld"
print(s[-1:-6:-1])

dlroW

# Editing and Deliting Strings

## In python strings are immutable

In [46]:
s = "HelloWorld"
s[0] = 'G'

TypeError: 'str' object does not support item assignment

We can delete a string using 'del' operator

In [47]:
s = "HelloWorld"
del s
print(s)

NameError: name 's' is not defined

### But as string are immutable any attempts to delete any portion of the string is goona cause an error, we can delete the whole string but not a portion.

In [48]:
s = "HelloWorld"
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

# Operation on Strings


- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

## Arithmetic operation:

In python only '+' and '*' operation can be performed with the strings

In [49]:
s1 = 'Hello'
s2 = 'World'
print(s1+s2)

HelloWorld

This is called string concatenation

In [51]:
print('hello'+ ' '+'World')

hello World

For multiplication string can be multiplied to an integer, string * string not possible

In [23]:
s = 'LA '
print(s*5)

LA LA LA LA LA

In [52]:
s1 = 'Hello'
s2 = 5
print(s1*s2)

HelloHelloHelloHelloHello

In [53]:
s1 = 'Hello'
s2 = 'World'
print(s1*s2)

TypeError: can't multiply sequence by non-int of type 'str'

## Relatinal Operator:

all the relational operator works with the strings

In [54]:
'World' == 'Hello'

False

In [55]:
'World' != 'Hello'

True

Lexiographically comperison is performed in python when doing comparison with the strings; Because the ASCII value of 'W' is greater than 'H', that is why it's true.

see https://en.wikipedia.org/wiki/ASCII for more information

In [56]:
'World' > 'Hello'

True

## Logical Operator:

### In python when a string contains any character python reads it as a 'true' value, but if a string doesn't have any values like an empty string '', python reads it as 'false'.

false and true -> false

In [64]:
'' and 'world'

''

## false or true -> true

In [66]:
'' or 'world'

'world'

## As we have a or condition, as soon as python reads first string as true because it has some characters in it, it doesn't even read the second sting,

true or true -> true

In [67]:
'hello' or 'world'

'hello'

In [68]:
'hello' or ''

'hello'

## But here we have an and condition, so python had to make sure the second string is not empty, so, it's a true for both the string, so it prints the second one, that is 'world'

In [69]:
'hello' and 'world'

'world'

In [70]:
'hello' and ''

''

In [71]:
not ''

True

In [72]:
not 'hello'

False

Strings in loop

In [73]:
for i in "hello":
    print(i)

h
e
l
l
o

Membership operator:

In [74]:
'S' in 'Sourabh'

True

In [75]:
's' not in 'Sourabh'

True

# String Functions
## Common Functions
- len
- max
- min
- sorted

## len() functions

This function counts the length including white space

In [76]:
len("hello world")

11

## Max()

Exact the maximum ASCII character

In [77]:
max("hello world")

'w'

In [78]:
min("hello world")

' '

## sorted()

arrange the characters in ascending oder on the ASCII value base

In [79]:
sorted("hello world")

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

## To reverse this order or to print in descending order

In [80]:
sorted("hello world", reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

# Capitalize/Title/Upper/Lower/Swapspace

capitalize() to convert the first character in capital

In [82]:
s = "hello world"
print(s.capitalize())

Hello world

title() to convert the first character in capital in all the words

In [83]:
s = "hello world"
print(s.title())

Hello World

upper() & lower()

In [85]:
s = "hello world"
print(s.upper())
print(s.lower())

HELLO WORLD
hello world

swapcase() to convert capital to lower and lower to capital

In [86]:
s = "hElLo wOrLd"
print(s.swapcase())

HeLlO WoRlD

# Count/Find/Index

count() to count any character

In [88]:
s = "hello world"
print(s.count('o'))

2

## find() to find the index position, return -1 if the given string doesn't present

In [90]:
s = "hello world"
print(s.find('wo'))
print(s.find("x"))

6
-1

index() to find the index position arise error if not present

In [92]:
s = "hello world"
print(s.index("or"))

7

In [93]:
s = "hello world"
print(s.index("x"))

ValueError: substring not found

# Endswith/Startwith

In [94]:
s = "hello world"
print(s.endswith("h"))

False

In [95]:
s = "hello world"
print(s.endswith("d"))

True

In [97]:
s = "hello world"
print(s.startswith("h"))

True

# Format

In [25]:
name = "Sourabh"
num = 55
"Hi I am {} my number is {}".format(name,num)

'Hi I am Sourabh my number is 55'

In [26]:
print("Hi I am {} my number is {}".format(name,num)) # without using f

Hi I am Sourabh my number is 55

### we can also use positioning for string format

In [27]:
print("Hi I am {1} my number is {0}".format(num,name)) # without using f

Hi I am Sourabh my number is 55

## String Formatting with F-Strings
https://www.geeksforgeeks.org/string-formatting-in-python/

In [28]:
name = 'Ele'
print(f"My name is {name}.")

My name is Ele.

In [29]:
a = 5
b = 10
print(f"He said his age is {2 * (a + b)}.")

He said his age is 30.

## Float precision in the f-String Method
## Syntax: {value:{width}.{precision}}

In [30]:


num = 3.14159
 
print(f"The valueof pi is: {num:{1}.{5}}")

The valueof pi is: 3.1416

# isalnum/isalpha/isdigit/isidentifier

isalnum() to check if a given string is alpha-numeric

In [102]:
s = 'hello564world'
print(s.isalnum())

True

In [103]:
s = 'hello564world%'
print(s.isalnum())

False

isalpha() to check if everything is alphabetic

In [107]:
s = 'hello'
print(s.isalpha())

True

isdigit() to check if everything is numeric

In [109]:
s = '879797'
print(s.isdigit())

True

isidentifier() to check if something a valid identifier

In [110]:
s = 'name1'
print(s.isidentifier())

True

In [111]:
s = '1name1'
print(s.isidentifier())

False

In [112]:
s = 'name_na'
print(s.isidentifier())

True

In [31]:
s = 'name-jason'
print(s.isidentifier())

False

# Split/Join

## split() to break a string word by word; usually perform on white space if no arguments are given

In [113]:
s = 'My name is Sourabh'
print(s.split())

['My', 'name', 'is', 'Sourabh']

In [115]:
s = 'My name is Sourabh'
print(s.split("s"))

['My name i', ' Sourabh']

In [116]:
s = 'My name is Sourabh'
print(s.split("a"))

['My n', 'me is Sour', 'bh']

## join(): works exactly as opposite; to join words

In [120]:
" ".join(['My', 'name', 'is', 'Sourabh'])

'My name is Sourabh'

In [121]:
"_".join(['My', 'name', 'is', 'Sourabh'])

'My_name_is_Sourabh'

# Replace

replace(x,y) to replace x with y, doesn't make any changes if x is not present

In [122]:
s = 'My name is Sourabh'
print(s.replace("o","a"))

My name is Saurabh

In [123]:
s = 'My name is Sourabh'
print(s.replace("x","a"))

My name is Sourabh

# Strip

### strip() to get rid of unwanted white spaces at start or at end, doesn't work for spaces in between the strings

In [127]:
s = 'My name is Sourabh      '
print(s.strip())

My name is Sourabh

In [129]:
s = '        My name is Sourabh'
print(s.strip())

My name is Sourabh

In [128]:
s = 'My       name is Sourabh      '
print(s.strip())

My       name is Sourabh