# Tuples
A tupless inpython is similar like lists, but a tuple is an immutable list, that means we can't change its elements.

Characteristics:

Oder of the element matters

Immutable

Allows duplicate values fot the elements

# Creating a tuples
creating an empty tuple

In [4]:
t =()
print(t)
print(type(t))

()
<class 'tuple'>

creating a tuple with one element

Just puting an element in a () is not represent a tuple

In [6]:
t =(2)
t2 = ("hello")
print(t)
print(type(t))
print(t2)
print(type(t2))

2
<class 'int'>
hello
<class 'str'>

We have to put a , followed by the element in side () like this (x,)

In [7]:
t =(2,)
t2 = ("hello",)
print(t)
print(type(t))
print(t2)
print(type(t2))

(2,)
<class 'tuple'>
('hello',)
<class 'tuple'>

Homogenious tuples

In [8]:
t =(2,3,4,5,6)
t2 = ("hello","world")
print(t)
print(type(t))
print(t2)
print(type(t2))

(2, 3, 4, 5, 6)
<class 'tuple'>
('hello', 'world')
<class 'tuple'>

Heterogenious tuples

In [9]:
t =(2,3.4,True,[1,2,8,9])
print(t)
print(type(t))

(2, 3.4, True, [1, 2, 8, 9])
<class 'tuple'>

2D tuples

In [10]:
t =((2,3.4),(8,9))
print(t)
print(type(t))

((2, 3.4), (8, 9))
<class 'tuple'>

Creating tuples using type conversion

In [11]:
t =tuple("hello")
print(t)
print(type(t))

('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

# Accessing items in a tuple

Indexing: similar like string

Positive indexing

In [12]:
t = (1,2,3,4,5)
print(t[3])

4

Negative indexing

In [14]:
t = (1,2,3,4,5)
print(t[-2])

4

Slicing

In [16]:
t = (1,2,3,4,5)
print(t[1:4])

(2, 3, 4)

In [18]:
t = (1,2,3,4,5)
print(t[-4:-1])

(2, 3, 4)

For reversing

In [19]:
t = (1,2,3,4,5)
print(t[::-1])

(5, 4, 3, 2, 1)

Extracting an element froma 2D tuple

In [20]:
t = (1,2,3,(4,5))
print(t[-1])

(4, 5)

In [22]:
t = (1,2,3,(4,5))
print(t[-1][0])

4

# Editing items in tuples

we can't really edit an item; since its immutable like string

In [23]:
t = (1,2,3,4,5)
t[0] = 9

TypeError: 'tuple' object does not support item assignment

# Adding new itms

not possible

# Deleting an items

Can't delete an item but can delete the entire tuple

In [24]:
t = (1,2,3,4,5)
del t[2]

TypeError: 'tuple' object doesn't support item deletion

error occured since t is deleted

In [25]:
t = (1,2,3,4,5)
del t
print(t)

NameError: name 't' is not defined

# Operation on tuples

Same like strings we can perform addition between tuples and multiplication between tuples and integer

In [26]:
t = (1,2,3,4,5)
t2 = (6,7,8,9)
print(t+t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
t = (1,2,3,4,5)
print(t*8)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

Membership

In [28]:
t = (1,2,3,4,5)
print(2 in t)

True

Iteration

In [29]:
t = (1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

# Functions in tuples

same as strings and list: len,sum,min,max,sorted but sum only works with numerical data types

In [30]:
t = (1,2,3,4,5)
print(len(t))

5

In [31]:
t = (1,2,3,4,5)
print(min(t))

1

In [32]:
t = (1,2,3,4,5)
print(max(t))

5

sorted is gonna alwayes return a list, it doesn't depends on the data type, for any input like tuples,string,list it's gonna return a list

In [33]:
t = (5,1,3,2,9,6,4)
print(sorted(t))

[1, 2, 3, 4, 5, 6, 9]

In [35]:
t = (5,1,3,2,9,6,4)
print(sorted(t, reverse = True))

[9, 6, 5, 4, 3, 2, 1]

In [36]:
t = (5,1,3,2,9,6,4)
print(sum(t))

30

count() to check if the element is present and return its count; return 0 if it not present in the tuple

In [37]:
t = (5,1,3,2,9,6,4)
print(t.count(2))

1

In [38]:
t = (5,1,2,3,2,9,2,6,2,4)
print(t.count(2))

4

In [39]:
t = (5,1,3,2,9,6,4)
print(t.count(20))

0

tuple_name.index(z) to get the index number of z; returns only the first element index position if z present multiple times, error if z is not in the tuple

In [40]:
t = (5,1,3,2,9,6,4)
print(t.index(2))

3

In [41]:
t = (5,1,2,3,2,9,6,4)
print(t.index(2))

2

In [42]:
t = (5,1,3,2,9,6,4)
print(t.index(25))

ValueError: tuple.index(x): x not in tuple

# Why use tuples

watch session 5 python 27:12 campusx

# Spacial syntax
Tuples unpacking

In [44]:
t = (1,2,3)
a,b,c = t
print(a,b,c)

1 2 3

Number of variables has to be same with the number of elements

In [45]:
t = (1,2,3)
a,b = t
print(a,b)

ValueError: too many values to unpack (expected 2)

Value swaping using tuple unpacking. We don't need to use a third variable

In [46]:
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

If we have a tuple with large number of elements but we need only first few of them, we can use a third variable followed by a * to store the vaues that we don't want, they will be stored as a list.

In [47]:
t = (1,2,3,4,5,6,7)
a,b,*others = t
print(a,b)
print(others)

1 2
[3, 4, 5, 6, 7]

Zipping tuples

In [3]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
l = list(zip(t1,t2))
t = tuple(zip(t1,t2))
print(l)
print(t)

[(1, 5), (2, 6), (3, 7), (4, 8)]
((1, 5), (2, 6), (3, 7), (4, 8))

# Set

Unorder collection of data, means order doesn't matter, . Every set element is unique no duplicates and immutable. However a set is mutable itself, we can add or remove items from it. Set can performs mathematical set operations like union, intersection,symmetric difference.

Characteristics:

Unorder

Mutable

No duplicates

Can't contain mutable data types

In [4]:
s = {}
print(s)

{}

If we check the type of s it's gonna give us a dictionary, a dictionary and set share the same syntax, by default python is gonna read an empty set as a dictionary.

In [5]:
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

So this is not the correct way to declaire an empty set, always use the type conversion

In [6]:
s = set()
print(type(s))

<class 'set'>

1D set

In [7]:
s = {1,2,3,4}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

2D set is not possible because its elements are immutable

In [8]:
s = {1,2,3,4,{5,6}}
print(s)
print(type(s))

TypeError: unhashable type: 'set'

Heretogeneous set

In [10]:
s = {1,2,'hello',5.6,5+8j}
print(s)
print(type(s))

{1, 2, 5.6, 'hello', (5+8j)}
<class 'set'>

With the boolean values

In [11]:
s = {1,2,3,4,5.6,'hello',False}
print(s)
print(type(s))

{False, 1, 2, 3, 4, 5.6, 'hello'}
<class 'set'>

As python read the boolean values as 0 or 1 and a set can't have duplicate values so it would remove a boolean value from the set if 1 or 0 already present in the set.

In [12]:
s = {1,2,3,4,5.6,'hello',True}
print(s)
print(type(s))

{1, 2, 3, 4, 5.6, 'hello'}
<class 'set'>

We can also store a tuple in a set as tuples are immutable

In [14]:
s = {1,2,3,4,(1,2,3)}
print(s)
print(type(s))

{1, 2, 3, 4, (1, 2, 3)}
<class 'set'>

As the order doesn't matter python will automatically arrange the items internally by using a hashing algorithm and we can't control it

In [15]:
s = {1,2,3,4,3.6,6,5,'hello',False,(1,2,3)}
print(s)
print(type(s))

{False, 1, 2, 3.6, 3, 4, 6, 5, (1, 2, 3), 'hello'}
<class 'set'>

Using type conversion

In [16]:
s = set([1,2,3,4,5])
print(s)

{1, 2, 3, 4, 5}

Can't have duplicates

In [17]:
s = {1,2,2,3,3,4,5}
print(s)

{1, 2, 3, 4, 5}

Can't have mutabletypes

In [18]:
s = {1,2,3,[5,6,7]}

TypeError: unhashable type: 'list'

can't have duplicates

In [19]:
s1 = {1,2,3}
s2 = {3,2,1}
print(s1==s2)

True

# Accessing Items

can't do indexing or slicing

In [20]:
s = {1,2,3,4,5}
s[2]

TypeError: 'set' object is not subscriptable

In [21]:
s = {1,2,3,4,5}
s[2:]

TypeError: 'set' object is not subscriptable

In [22]:
s = {1,2,3,4,5}
s[2] = 9

TypeError: 'set' object does not support item assignment

# Add items

Add: But we can add items in set, one item at a time, but can't control the index position, hasing does

In [23]:
s = {1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

Update: we can add multiple items in set using update, but can't control the index position, hasing does

In [24]:
s = {1,2,3,4,5}
s.update([7,6,8])
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

# Delete items

Del: using del we can delete the entire set but a one item using del

In [25]:
s = {1,2,3,4,5}
del(s)
print(s)

NameError: name 's' is not defined

In [26]:
s = {1,2,3,4,5}
del(s[2])

TypeError: 'set' object doesn't support item deletion

Discard: using discard we can delete a perticular item, doesn't do anything if the item doesn't exit in the set

In [28]:
s = {1,2,3,4,5}
s.discard(3)
print(s)

{1, 2, 4, 5}

Remove: using remove we can delete a perticular item, arouse an error if the item doesn't exit in the set

In [29]:
s = {1,2,3,4,5}
s.remove(3)
print(s)

{1, 2, 4, 5}

In [30]:
s = {1,2,3,4,5}
s.remove(30)
print(s)

KeyError: 30

Pop: deletes a random item from the set we don't have any control

In [32]:
s = {1,2,3,4,5}
s.pop()
print(s)

{2, 3, 4, 5}

Clear: to empty a set

In [33]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

# Set operations

Union(|)

In [1]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1|s2)

{1, 2, 3, 4, 5, 6, 7, 8}

Intersection(&)

In [2]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1&s2)

{4, 5}

Difference(-), A - B = {items of A that are not present in B}

In [3]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1-s2)

{1, 2, 3}

Symmetric Difference(^), A^B = {items that are not in common in both the sets}, which also means union - intersection

In [6]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1^s2)
#print((s1|s2)-(s1&s2))

{1, 2, 3, 6, 7, 8}

Membership test: 'in' and 'not in'

In [7]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(1 in s2)
print(2 in s1)

False
True

Iteration: loops are the same as like others

In [8]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
for i in s2:
    print(i)

4
5
6
7
8

# Functions of set

len/sum/min/max/sorted/sorted(s,reverse=True) same as others

Union: syntax: list_name1.union(list_name2)

In [9]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.union(s2) # s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

Update: syntax: s1.update(s2) this is gonna store the result of (s1 union s2) in s1 and s2 remain unchanged

In [12]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

Intersection/intersection_update(), s1.intersection_update(s2) this is gonna store the result of (s1 intersection s2) in s1 and s2 remain unchanged

In [13]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection(s2)
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

similarly difference/difference_update

In [14]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.difference(s2)
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

similarly symmetric_difference/symmetric_difference_update

In [15]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

isdisjoint: s1.isdisjoint(s2) returns True if there is no common item in both the set.

In [16]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.isdisjoint(s2)

False

Similarly issubset

In [17]:
s1 = {3,4,5}
s2 = {1,2,3,4,5,6,7,8}
s1.issubset(s2)

True

Similarly superset

In [18]:
s1 = {1,2,3,4,5,6,7,8}
s2 = {4,5,6}
s1.issuperset(s2)

True

Copy to create a copy

In [19]:
s1 = {1,2,3,4}
s2 = s1.copy
print(id(s1))
print(id(s2))

4582620544
4575268032

# Frozen set

Frozen set is an immutable version of python set. No addition or deletion on the items, all the read function works but the write functions don't

In [21]:
fs = frozenset([1,2,3,4])
print(fs)

frozenset({1, 2, 3, 4})

In [22]:
fs1 = frozenset([1,2,3,4])
fs2 = frozenset([3,4,5,6])
print(fs1|fs2)

frozenset({1, 2, 3, 4, 5, 6})

In [23]:
fs = frozenset([1,2,3,4])
print(fs.pop())

AttributeError: 'frozenset' object has no attribute 'pop'

2D frozen set

In [24]:
fs = frozenset([1,2,frozenset([5,6,7]),3,4])
print(fs)

frozenset({1, 2, 3, 4, frozenset({5, 6, 7})})

# Set comprehension

In [25]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Dictionary

It is a collection of keys and values, use to store data like a map.

dict = {'name':'Alice','age':'30','gender':'female'}

Characteristics:

Mutable

Indexing doesn't work

Keys can't be duplicates

Keys can't be mutable

values are mutable

In [1]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

1D homogeneous dictionary

In [5]:
d = {'name':'Alice','gender':'female'}

1D with mixed keys

In [6]:
d = {(1,2,3):1,'age':'30','gender':'female'}

2D dictionary

In [7]:
d = {'name':'Alice','age':'30','gender':'female','interest':{'bike_riding':'sometimes','swiming':'passionate'}}
print(d)

{'name': 'Alice', 'age': '30', 'gender': 'female', 'interest': {'bike_riding': 'sometimes', 'swiming': 'passionate'}}

Creating a dictionary using dict function, we pass a tuple and it become a dictionary

In [3]:
d = dict([('name','Alice'),('Age',30),('gender','female')])
print(d)

{'name': 'Alice', 'Age': 30, 'gender': 'female'}

Can't have duplicate values, if provided last value is consider

In [4]:
d = {(1,2,3):1,'age':'30','gender':'female','age':28}
print(d)

{(1, 2, 3): 1, 'age': 28, 'gender': 'female'}

Can't have mutable datatypes as keys

In [6]:
d = {(1,2,3):1,'age':'30','gender':'female',[5,4,3]:2}

TypeError: unhashable type: 'list'

In [8]:
d = {(1,2,3):1,'age':'30','gender':'female',(5,4,3):2}
print(d)

{(1, 2, 3): 1, 'age': '30', 'gender': 'female', (5, 4, 3): 2}

# Accessing Items

Accessing items by indexing not allowed, by using key is allowed

In [9]:
d = {(1,2,3):1,'age':'30','gender':'female',(5,4,3):2}
print(d[0])

KeyError: 0

using keys

In [10]:
d = {(1,2,3):1,'age':'30','gender':'female',(5,4,3):2}
print(d['age'])

30

using .get() function

In [11]:
d = {(1,2,3):1,'age':'30','gender':'female',(5,4,3):2}
print(d.get('gender'))

female

For 2D dictionaries

In [20]:
d = {'name':'Alice','age':'30','gender':'female','interest':{'bike_riding':'sometimes','swiming':'passionate'}}
print(d['interest'])

{'bike_riding': 'sometimes', 'swiming': 'passionate'}

In [21]:
d = {'name':'Alice','age':'30','gender':'female','interest':{'bike_riding':'sometimes','swiming':'passionate'}}
print(d['interest']['swiming'])

passionate

# Adding a key-value pair

In [12]:
d = {'name':'Alice','age':'30','gender':'female'}
d['profession'] = 'teacher'
print(d)

{'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}

For 2D dictionary

In [22]:
d = {'name':'Alice','age':'30','gender':'female','interest':{'bike_riding':'sometimes','swiming':'passionate'}}
d['interest']['running'] = 'frequently'
print(d)

{'name': 'Alice', 'age': '30', 'gender': 'female', 'interest': {'bike_riding': 'sometimes', 'swiming': 'passionate', 'running': 'frequently'}}

# Remove a key-value pair

pop() .pop(keyname)

In [15]:
d = {'name':'Alice','age':'30','gender':'female'}
d.pop('gender')
print(d)

{'name': 'Alice', 'age': '30'}

## d.popitem() will remove the last key-value pair

In [16]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
d.popitem()
print(d)

{'name': 'Alice', 'age': '30', 'gender': 'female'}

del to delete the entire dictionary or any specific key

In [17]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
del d
print(d)

NameError: name 'd' is not defined

In [18]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
del d['gender']
print(d)

{'name': 'Alice', 'age': '30', 'profession': 'teacher'}

For 2D dictionary

In [24]:
d = {'name':'Alice','age':'30','gender':'female','interest':{'bike_riding':'sometimes','swiming':'passionate'}}
del d['interest']['bike_riding']
print(d)

{'name': 'Alice', 'age': '30', 'gender': 'female', 'interest': {'swiming': 'passionate'}}

clear to clear

In [19]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
d.clear()
print(d)

{}

# Editing a key-value pair

In [25]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
d['name'] = 'christine'
print(d)

{'name': 'christine', 'age': '30', 'gender': 'female', 'profession': 'teacher'}

for 2D

In [26]:
d = {'name':'Alice','age':'30','gender':'female','interest':{'bike_riding':'sometimes','swiming':'passionate'}}
d['interest']['bike_riding'] = 'everyday'
print(d)

{'name': 'Alice', 'age': '30', 'gender': 'female', 'interest': {'bike_riding': 'everyday', 'swiming': 'passionate'}}

# Dictionary operation

membership: 'in' and 'not in' only applicable on keys

iteration

In [27]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
print('Alice' in d)

False

Loops

In [30]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
for i in d:
    print(i)

name
age
gender
profession

In [31]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
for i in d:
    print(d[i])

Alice
30
female
teacher

# Dictionary functions

len is gonne give number of keys

In [32]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
print(len(d))

4

sorted is gonna sort the keys use reverse to get the descending order lexicographically

In [34]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
print(sorted(d))

['age', 'gender', 'name', 'profession']

In [35]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
print(sorted(d,reverse=True))

['profession', 'name', 'gender', 'age']

min/max works in ASCII values

In [37]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
print(min(d))
print(max(d))

age
profession

d.items() is gonna store key-value pain in tuples in a list like the opposite of 'dict' function

In [38]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
print(d.items())

dict_items([('name', 'Alice'), ('age', '30'), ('gender', 'female'), ('profession', 'teacher')])

d.keys() is gonna return the list of keys

In [39]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
print(d.keys())

dict_keys(['name', 'age', 'gender', 'profession'])

similarly the values

In [40]:
d = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
print(d.values())

dict_values(['Alice', '30', 'female', 'teacher'])

d1.update(d2) to update the values of d1 dictionary with the values of d2 dictionary

In [42]:
d1 = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
d2 = {'age': '25','profession':'server'}
d1.update(d2)
print(d1)

{'name': 'Alice', 'age': '25', 'gender': 'female', 'profession': 'server'}

# Dictionary comprehension

In [43]:
d1 = {'name': 'Alice', 'age': '30', 'gender': 'female', 'profession': 'teacher'}
{d[i] for i in d1}

{'30', 'Alice', 'female', 'teacher'}

## enumerate(): This function in Python adds a counter to an iterable (like a list, tuple, or string) and returns it as an enumerate object. This object can then be used in loops to get both the index and the value of each item in the iterable.

### syntax: enumerate(iterable, start=0)

iterable: Any iterable object (e.g., list, tuple, string).

start: The starting index of the counter. The default is 0.

In [2]:
l = [21,40,56,81]

[(0, 21), (1, 40), (2, 56), (3, 81)]

In [6]:
enumerate(l)

In [3]:
list(enumerate(l))

[(0, 21), (1, 40), (2, 56), (3, 81)]

In [5]:
list(enumerate(l,start=15)) # start the counter from 15

[(15, 21), (16, 40), (17, 56), (18, 81)]

### if we wanna sort the pairs below based on the second items

In [7]:
l = [('Alice',25),('Bob',31),('Chris',28)]

### if we just do sorted, it's gonna sort but it's gonna sort based on the first element in our case based on the  ASCII value

In [8]:
sorted(l)

[('Alice', 25), ('Bob', 31), ('Chris', 28)]

### so we'll mention the appropriate key by passing a lambda function in it

In [9]:
sorted(l,key=lambda x:x[1])

[('Alice', 25), ('Chris', 28), ('Bob', 31)]

In [10]:
sorted(l,key=lambda x:x[1],reverse=True)

[('Bob', 31), ('Chris', 28), ('Alice', 25)]