# Array Vs List

fixed : dynamic

convenience : Hetrogeneous

speed of execution

memory

To understand better watch session 4 lists 18:51 campusx

In [1]:
a = 2
print(id(a))

4401112600

Printing memory address

In [3]:
L = [1,2,3,4,5]
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(L[3]))
print(id(L[4]))

4401112568
4401112600
4401112632
4401112664
4401112696

In [4]:
L = [1,2,3,4,5]
print(id(1))
print(id(2))
print(id(3))
print(id(4))
print(id(5))

4401112568
4401112600
4401112632
4401112664
4401112696

# Characteristics of List

Oder matters

mutable, changes can be made

Heterogeneous items can be stored in a single list

duplicate elements, many elements of same value can be stored in a list

Dynamic, when we add more elements memory consumption increase

Can be nested, list within a list is posible.

Items can be accessed.

We can add any kind of objects in a list.

In [5]:
l = [1,2,3,4,5]

2D list

In [6]:
l = [[1,2],[3,4]]

Heterogeneous list

In [7]:
l = [1,True,5.6,5+6j,'hello']

using type conversion to creat a list

In [9]:
s = "hello"
l = list(s)
print(l)

['h', 'e', 'l', 'l', 'o']

# Accessing items from a list

indexing

In [10]:
l = [1,2,3,4,5]
print(l[3])

4

Negative indexing

In [11]:
l = [1,2,3,4,5]
print(l[-4])

2

For a heterogeneous list access an item

In [12]:
l = [1,2,3,4,[5,6]]
print(l[-1])

[5, 6]

In [13]:
l = [1,2,3,4,[5,6]]
print(l[-1][0])

5

In [15]:
l = [1,2,3,4,[5,6,[4,9,8]]]
print(l[-1][2][1])

9

Slicing

In [16]:
l = [1,2,3,4,[5,6]]
print(l[2:4])

[3, 4]

To get the alternet elements of a list

In [17]:
l = [1,2,3,4,5,6]
print(l[0:])

[1, 2, 3, 4, 5, 6]

In [18]:
l = [1,2,3,4,5,6]
print(l[0::2])

[1, 3, 5]

To access element 2 and 4

In [11]:
l = [1,2,3,4,5,6]
print(l[-5:-2:2])

[2, 4]

In [15]:
l = [1,2,3,4,5,6]
print(l[-6:])

[1, 2, 3, 4, 5, 6]

In [20]:
l = [1,2,3,4,5,6]
print(l[:6])

[1, 2, 3, 4, 5, 6]

In [17]:
l = [1,2,3,4,5,6]
print(l[-1:])

[6]

In [18]:
l = [1,2,3,4,5,6]
print(l[-1::-1])

[6, 5, 4, 3, 2, 1]

In [26]:
l = [1,2,3,4,5,6]
print(l[5:])

[6]

In [25]:
l = [1,2,3,4,5,6]
print(l[5::-1])

[6, 5, 4, 3, 2, 1]

# Adding items to a list

There are three ways that we can add an item into a list

## Append: list_name.append(x) will add only one single item at the end of the list at a time; doesn't matter on the data type

In [3]:
l = [1,2,3,4,5]
l.append(6)
print(l)
l.append(True)
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, True]

## Extend: list_name.extend([x,y,z]) will add multiple item at the end of the list at a time; doesn't matter on the data type

In [4]:
l = [1,2,3,4,5]
l.extend([6,7,8,9])
print(l)
l.extend([True,'hello',5+6j])
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, True, 'hello', (5+6j)]

If a given item is a list then, append is gonna perform this

## list_name.append(x) will add only one single item at the end of the list at a time;

In [7]:
l = [1,2,3,4,5]
l.append([6,7,8,9])
print(l)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

If multiple item is provided then, extend is gonna perform this:

## extend() is gonna break the list into different items and add them to the list

In [8]:
l = [1,2,3,4,5]
l.extend('hello')
print(l)

[1, 2, 3, 4, 5, 'h', 'e', 'l', 'l', 'o']

Insert: To add an element in the middle of the list, we can use insert

## list_name.insert(x,y) where x is the index position and y is the element that we wanna insert

In [9]:
l = [1,2,3,4,5]
l.insert(3,4.5)
print(l)

[1, 2, 3, 4.5, 4, 5]

# Editing items in a list

In [10]:
l = [1,2,3,4,5]
l[-1] = 500
print(l)

[1, 2, 3, 4, 500]

Editing items using slicing

In [13]:
l = [1,2,3,4,5]
l[1:4] = [200,300,400,500,6+5j]
print(l)

[1, 200, 300, 400, 500, (6+5j), 5]

# Deleting items in a list

Using del to delete the whole list

In [3]:
l = [1,2,3,4,5]
del l
print(l)

NameError: name 'l' is not defined

delete one item: delete using indexing

In [4]:
l = [1,2,3,4,5]
del l[-1]
print(l)

[1, 2, 3, 4]

delete a range of items: delete using slicing

In [5]:
l = [1,2,3,4,5]
del l[1:3]
print(l)

[1, 4, 5]

## Remove: delete an item according to its value list_name.remove(x) to remove item 'x' from the list

In [6]:
l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

## Pop: delete an item according to its index position list_name.pop(x) to remove the item in index position 'x' from the list.

In [7]:
l = [1,2,3,4,5]
l.pop(0)
print(l)

[2, 3, 4, 5]

## pop() deletes the last item if no index is provided.

In [8]:
l = [1,2,3,4,5]
l.pop()
print(l)

[1, 2, 3, 4]

## Clear: to remove all the item from a list, make it an empty list

In [13]:
l = [1,2,3,4,5]
l.clear()
print(l)

[]

# Operation on list

Arithmetic

Membership

Loop

For arithmetic operation we can do + and *

In [14]:
l = [1,2,3,4,5]
l2 = [6,7,8,9]
print(l+l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Multiplication with integers '*'

In [15]:
l = [1,2,3,4,5]
print(l*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

Membership operation 'in' 'not in'

In [16]:
l = [1,2,3,4,5]
print(5 in l)

True

In [17]:
l = [1,2,3,4,[5,6]]
print(5 in l)

False

Loops

In [18]:
l = [1,2,3,4,[5,6]]
for i in l:
    print(i)

1
2
3
4
[5, 6]

# List functions

## len() for lenth of the list

In [19]:
l = [1,2,3,4,[5,6]]
print(len(l))

5

## min(): to get the minimum value only work for homogeneous integer data type

In [20]:
l = [1,2,3,4,[5,6]]
print(min(l))

TypeError: '<' not supported between instances of 'list' and 'int'

In [21]:
l = [1,2,3,4,5,6]
print(min(l))

1

## Similarly max(), to find the the maximum.

In [22]:
l = [1,2,3,4,5,6]
print(max(l))

6

In [23]:
l = [1,2,3,4,True,5+6j,6]
print(max(l))

TypeError: '>' not supported between instances of 'complex' and 'int'

## sorted() to get the ascending order, argument reverse=True for descending order works for only ingerger data type

In [24]:
l = [1,2,3,4,5,6]
print(sorted(l))

[1, 2, 3, 4, 5, 6]

In [25]:
l = [1,2,3,4,5,6]
print(sorted(l,reverse=True))

[6, 5, 4, 3, 2, 1]

## count(): to count the number of elements in a list. Syntax list_name.count(x) x is the element that we wanna count

In [26]:
l = [1,2,3,1,4,5,6]
print(l.count(1))

2

## index() to find out its index position. Syntax list_name.index(x) x is the element that we wanna find the index for

In [2]:
l = [1,2,3,1,7,5,6]
print(l.index(7))

4

## return the index position of the first occurence if the same element appear multiple times

In [28]:
l = [1,2,3,1,4,5,6]
print(l.index(1))

0

## reverse(): To reverse the elements of the list, this operation is performed permanently unlike sorted

In [31]:
l = [1,2,3,1,4,5,6]
l.reverse()
print(l)

[6, 5, 4, 1, 3, 2, 1]

## sort(): Works like sorted but sort make permanent change

In [33]:
l = [1,2,3,9,4,5,6]
print(l)
print(sorted(l))
print(l)
l.sort()
print(l)

[1, 2, 3, 9, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 9]
[1, 2, 3, 9, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 9]

## copy(): to make a copy of a list

In [34]:
l = [1,2,3,1,4,5,6]
l2 = l.copy()
print(l)
print(id(l))
print(l2)
print(id(l2))

[1, 2, 3, 1, 4, 5, 6]
4471335872
[1, 2, 3, 1, 4, 5, 6]
4471336704

# List comprehension

it provides a consize way to creat a list

Syntax: newlist = [expression for item in iterable if condition == True]

For example add 1 to 10 numbers to a list, we would usually write the code like this

In [36]:
l = []
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Using the list comprehension, using the formula

In [37]:
l = [i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

example2: scaler multiplication on a vector

In [40]:
l = [1,2,3,4,5]
v = -3
print(l*v) # don't know why it is an empty list

[]

but

In [42]:
l = [1,2,3,4,5]
v = -3
l2 = []
for i in l:
    l2.append(i*v)
print(l2)

[-3, -6, -9, -12, -15]

using list comprehension

In [44]:
l = [1,2,3,4,5]
v = -3
l2 = [i*v for i in l]
print(l2)

[-3, -6, -9, -12, -15]

example3: add squares

In [45]:
l = [1,2,3,4,5]
l2 =[i*i for i in l]
print(l2)

[1, 4, 9, 16, 25]

example4: print all numbers ivisible by 5 in the range of 1 to 50

In [46]:
for i in range(1,51):
    if i%5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [47]:
l = [i for i in range(1,51) if i%5==0]
print(l)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

## Example5: find the name of the programing languages start with p

In [50]:
lang = ['java', 'C','python','php','javascript']
for i in lang:
    for j in str(i[0]):
        if j=='p':
            print(i)

python
php

Another way

In [51]:
lang = ['java', 'C','python','php','javascript']
for i in lang:
    if i.startswith('p'):
        print(i)

python
php

Using list comprehension

In [52]:
lang = ['java', 'C','python','php','javascript']
[i for i in lang if i.startswith('p')]

['python', 'php']

Example6: nested if list comprehension


make a new list from fruit2 if the items exits in fruit and also name starts with a

In [53]:
fruit = ['apple', 'guava','cherry','banana']
fruit2 = ['apple', 'orage','grapes','banana']
l = []
for i in fruit2:
    if i in fruit and i.startswith('a'):
        l.append(i)
print(l)

['apple']

In [54]:
fruit = ['apple', 'guava','cherry','banana']
fruit2 = ['apple', 'orage','grapes','banana']
[i for i in fruit2 if i in fruit if i.startswith('a')]

['apple']

Example7: print a 3X3 matrix using list comprehension, nested for loop

In [73]:
l = []
for i in range(1, 4):
    l2 = []
    for j in range(1, 4):
        l2.append(i * j)
    l.append(l2)

print(l)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

Note: here the loop that with i is the outer loop and j is the inner loop, so this code runs from right to left, its gonna follow the third brackets

In [74]:
[[i*j for j in range(1,4)]for i in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

Example 8: cartesian product

In [60]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l = []
for i in l1:
    for j in l2:
        l.append(i*j)
print(l)

[6, 7, 8, 9, 10, 12, 14, 16, 18, 20, 18, 21, 24, 27, 30, 24, 28, 32, 36, 40, 30, 35, 40, 45, 50]

But here the flow is from left to right in terms of loop so i is the outer loop j is the inner loop

In [66]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l = [i*j for i in l1 for j in l2]
print(l)

[6, 7, 8, 9, 10, 12, 14, 16, 18, 20, 18, 21, 24, 27, 30, 24, 28, 32, 36, 40, 30, 35, 40, 45, 50]

# 2 ways to traverse a list

itemwise loop, this would prints the elements because i would iterate over the elements

In [75]:
l=[1,2,3,4]
for i in l:
    print(i)

1
2
3
4

indexwise loop this would prints the indexes

In [76]:
l=[1,2,3,4]
print(len(l))
for i in range(0,len(l)):
    print(i)

4
0
1
2
3

# Zip function

create pair of elements by order in tuples

In [77]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
list(zip(l1,l2))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

Example: write a program to add items of 2 lists indexwise

In [81]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l = [i+j for i,j in zip(l1,l2)]
print(l)

[7, 9, 11, 13, 15]

# Python can store a built in function in a list

It can store any kind of object

In [82]:
l = [2,5,print,type,input]
print(l)

[2, 5, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x1061dbc10>>]

# Some programs

Create 2 lists from a given list where 

1st list will contain all the odd numbers from the original list and
 
the 2nd one will contain all the even numbers 

L = [1,2,3,4,5,6]

In [1]:
L = [1,2,3,4,5,6]
l1 = []
l2 = []
for i in L:
    if i%2 == 0:
        l1.append(i)
    if i%2 == 1:
        l2.append(i)
print(l1)
print(l2)

[2, 4, 6]
[1, 3, 5]

2 How to take list as input from user

In [7]:
l = []
item = int(input("How many items do you want in the list? "))
i = 1
while i<=item:
    l.append(int(input("Enter the items in the list")))
    i+=1
print(l)

[2, 3, 4, 5]

Write a program to merge 2 list without using the + operator

L1 = [1,2,3,4]

L2 = [5,6,7,8]

In [9]:
L1 = [1,2,3,4]
L2 = [5,6,7,8]
for i in L2:
    L1.append(i)
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8]

Write a program to replace an item with a different item if found in the list 

L = [1,2,3,4,5,3]

replace 3 with 300

In [11]:
L = [1,2,3,4,5,3]
for i in L:
    if i == 3:
        L.remove(i)
        L.append(300)
print(L)

[1, 2, 4, 5, 300, 300]

Write a program that can convert a 2D list to 1D list

In [13]:
l = [[1,2,3],[4,5,6]]
l2 = []
for i in l:
    for j in i:
        l2.append(j)
print(l2)

[1, 2, 3, 4, 5, 6]

Write a program to remove duplicate items from a list

L = [1,2,1,2,3,4,5,3,4]

In [14]:
L = [1,2,1,2,3,4,5,3,4]
l = []
for i in L:
    if i not in l:
        l.append(i)
print(l)

[1, 2, 3, 4, 5]

Write a program to check if a list is in ascending order or not

In [18]:
l = [1,3,5,7,8,9]
i = 0
while i <= len(l)+1:
    if l[i]<l[i+1]:
        i +=1
        print("ascnd")

ascnd
ascnd
ascnd
ascnd
ascnd

IndexError: list index out of range